<div class="container" style="max-width: 900px">
  <div class="card m-auto" >
    <div class="card-body">
        <div class="row align-middle mb-3">
          <div class="col-5 col-sm-4 col-md-3 col-lg-2">
            <div class=" justify-content-center d-flex overflow-hidden rounded-circle border border-secondary border-4" style="width: 100%; aspect-ratio: 1 / 1;">
                  <%= image_tag current_user.image.url, alt: 'avatar', class:"w-100 h-100", style:"object-fit: cover" if current_user.image?%>
                  <%= image_tag src="https://lh4.googleusercontent.com/PSjX8tDhtVtVjqX_vGV8lICE1_HyiTHJVapXW-B1ZheNQCdabVvK_YBIu0opmVTNyKc=w2400", class:"w-100 h-100", style:"object-fit: cover" unless current_user&.image? %>
            </div>
          </div>
          <div class="col-7 col-sm-8 col-md-9 col-lg-10">
              <div class="col-form-label"><b class="pe-2">Username:</b> <%= current_user.username %></div>
              <div class="col-form-label"><b class="pe-2">Email:</b> <%= current_user.email %></div>
              <div class="col-form-label"><b class="pe-2"> Coins:</b> <%= current_user.coins %></div>
          </div>
        </div>

      <div class="mb-3">
        <a href="#" class="btn btn-primary form-control">Cash in Now</a>
      </div>

      <div class="row">
        <div class="col">
          <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary form-control'%>
        </div>
        <div class="col">
          <%= link_to "Address", users_addresses_path, class: 'btn btn-primary form-control'%>
        </div>
      </div>

    </div>
  </div>
  <div class="my-3">
    <%= link_to 'Order Records', users_detail_path(activities: 'orders'), data_toggle: "tab", class:"btn btn-primary" %>
    <%= link_to 'Gacha Records', users_detail_path(activities: 'gacha'), data_toggle: "tab", class:"btn btn-primary" %>
    <%= link_to 'Winning Records', users_detail_path(activities: 'winning'), data_toggle: "tab", class:"btn btn-primary" %>
    <%= link_to 'Invite Records', users_detail_path(activities: 'invites'), data_toggle: "tab", class:"btn btn-primary"%>
  </div>

    <% @orders&.each do |order|%>
      <div class="card w-100" style=" margin-top:10px">
        <div class="card-body">
        <div><b>Serial Number: </b><%=order.serial_number%></div>
        <div><b>Coin: </b><%=order.coin%></div>
        <div><b>Amount: </b><%=order.amount%></div>
        <div><b>State: </b><%=order.state%></div>
        <div><b>Date Created: </b><%=order.created_at%></div>
        </div>
      </div>
    <% end %>

    <% @bets&.each do |bet|%>
      <div class="card w-100" style=" margin-top:10px">
        <div class="card-body">
          <div><b>Serial Number: </b><%=bet.serial_number%></div>
          <div><b>Coins: </b><%=bet.coins%></div>
          <div><b>State: </b><%=bet.state%></div>
          <div><b>Item Name: </b><%=bet.item.name%></div>
          <div><b>Date Created: </b><%=bet.created_at%></div>
        </div>
      </div>
    <% end %>

    <% @winners&.each do |winner|%>
      <div class="card w-100" style=" margin-top:10px">
        <div class="card-body">
          <div><b>Serial Number: </b><%=winner.bet.serial_number%></div>
          <div><b>Item Name: </b><%=winner.item.name%></div>
          <div><b>Date Created: </b><%=winner.created_at%></div>
          <div><b>State: </b><%=winner.state%></div>
          <%= link_to "Claim", users_winner_path(winner), class:'btn btn-warning' if winner.may_claim?%>
          <%= link_to "Share", users_share_path(winner), class:'btn btn-warning' if winner.may_share?%>
        </div>
      </div>
    <% end %>

    <% @invitations&.each do |invitation|%>
      <div class="card w-100" style=" margin-top:10px">
        <div class="card-body">
          <div><b>Username: </b><%=invitation.username%></div>
          <div><b>Email: </b><%=invitation.email%></div>
          <div><b>Date Invited: </b><%=invitation.created_at%></div>
        </div>
      </div>
    <% end %>
</div>