<%= content_tag :p, address.errors.full_messages_for(:base).join(', '), class: 'text-danger' if address.errors.has_key?(:base) %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:name).join(', '), class: 'text-danger' if address.errors.has_key?(:name) %>
</div>

<div class="field">
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:phone_number).join(', '), class: 'text-danger' if address.errors.has_key?(:phone_number) %>
</div>

<div class="field">
  <%= f.label :street_address %>
  <%= f.text_field :street_address, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:street_address).join(', '), class: 'text-danger' if address.errors.has_key?(:street_address) %>
</div>

<div class="field">
  <%= f.label :genre %>
  <%= f.select(:genre, Address.genres.keys.map { |key| [key.humanize, key] }, { :prompt => 'Genre' }, class: 'form-control') %>
  <%= content_tag :p, address.errors.full_messages_for(:genre).join(', '), class: 'text-danger' if address.errors.has_key?(:genre) %>
</div>

<div class="field">
  <%= f.label :region %>
  <%= f.collection_select :region_id, Region.order(:region_name), :id, :region_name, { :prompt => 'select region' }, include_blank: true, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:region).join(', '), class: 'text-danger' if address.errors.has_key?(:region) %>
</div>

<div class="field">
  <%= f.label :province %>
  <%= f.collection_select :province_id, [], :id,:name ,{ prompt: 'select province' }, include_blank: true, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:province).join(', '), class: 'text-danger' if address.errors.has_key?(:province) %>
</div>

<div class="field">
  <%= f.label :city %>
  <%= f.collection_select :city_id, [], :id,:name ,{ prompt: 'select city' }, include_blank: true, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:city).join(', '), class: 'text-danger' if address.errors.has_key?(:city) %>
</div>

<div class="field">
  <%= f.label :barangay %>
  <%= f.collection_select :barangay_id, [], :id,:name ,{ prompt: 'select barangay' }, include_blank: true, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:barangay).join(', '), class: 'text-danger' if address.errors.has_key?(:barangay) %>
</div>

<div class="field">
  <%= f.label :remark %>
  <%= f.text_area :remark, class: 'form-control' %>
  <%= content_tag :p, address.errors.full_messages_for(:remark).join(', '), class: 'text-danger' if address.errors.has_key?(:remark) %>
</div>

<script>
    $(document).ready(function () {
        function change_options(id, url, to_change){
            if (id) {
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: url,
                    error: function(XMLHttpRequest, errorTextStatus, error) {
                        alert("Failed to submit : " + errorTextStatus + " ;" + error);
                    },
                    success: function (data) {
                        $(to_change).children('option').remove();
                        var row = "<option value=\"" + "" + "\">" + "select "+ Object.keys(data)[0] + "</option>";
                        $(row).appendTo(to_change);
                        console.log();
                        $.each(data[Object.keys(data)[0]], function(k,v) {
                            row = "<option value=\"" + v.id + "\">" + v.name + "</option>";
                            $(row).appendTo(to_change);
                        });
                    }
                })
            } else {
                $(to_change).children('option').remove();
                var row = "<option value=\"" + "" + "\">" + "select province" + "</option>";
                $(row).appendTo(to_change);
            }
        }


        $('select[id="address_region_id"]').on('change', function () {
            var id = $(this).val();
            var url = '/users/get_provinces_by_region/' + id;
            var to_change = $("select[id='address_province_id']");
            change_options(id, url, to_change);
        });

        $('select[id="address_province_id"]').on('change', function () {
            var id = $(this).val();
            var url = '/users/get_cities_by_province/' + id;
            var to_change = $("select[id='address_city_id']");
            change_options(id, url, to_change);
        });

        $('select[id="address_city_id"]').on('change', function () {
            var id = $(this).val();
            var url = '/users/get_barangays_by_city/' + id;
            var to_change = $("select[id='address_barangay_id']");
            change_options(id, url, to_change);
        });
    });
</script>