<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to "New", new_users_address_path, class:"btn btn-primary w-100"%>
    </div>
  </div>

  <div class="card w-100" style=" margin-top:10px">
        <div class="card-header">
          <%= link_to "â® Back", users_detail_path, class: 'btn btn-sm btn-outline-primary d-inline-block '%>
          <h5 class="d-inline-block align-middle mx-2 my-1">Address Lists</h5>
        </div>

        <ul class="list-group list-group-flush">
          <% unless @addresses.present?%>
            <li class="list-group-item">
              <div class="text-muted">No address to show</div>
            </li>
          <% end %>

          <% @addresses.each do |address| %>
            <% if address.errors.any? %>
              <% address.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message%></li>
              <% end %>
            <% end %>
            <li class="list-group-item">
              <span class="badge rounded-pill bg-warning"> <%=address.genre%></span>
              <span class="badge rounded-pill bg-primary"><%=:Default if address.is_default%></span>
              <div>
                <div class="fw-bold d-inline" style="display:inline">Name: </div>
                <%=address.name%>
              </div>
              <div>
                <div class="fw-bold d-inline" style="display:inline">Address: </div>
                <%="#{address.street_address}, #{address.barangay.name}, #{address.city.name}, #{address.province.name}, #{address.region.region_name}"%>
              </div>
              <div>
                <div class="fw-bold d-inline" style="display:inline">Phone number: </div>
                <%=address.phone_number%>
              </div>
              <%= link_to "Edit", edit_users_address_path(address), class:'btn btn-warning'%>
              <%= link_to "Delete", users_address_path(address), method: :delete, class:'btn btn-danger'%>
            </li>
          <% end %>
        </ul>
    </div>
</div>
