<!--Page-->
<div class="container">
  <div class="card">
      <div class="card-header">
          <%= link_to "â® Back", users_addresses_path, class: 'btn btn-sm btn-outline-primary d-inline-block '%>
          <h5 class="d-inline-block align-middle mx-2 my-1">Create Address</h5>
      </div>
      <div class="card-body">
        <%= form_for @address, url: users_addresses_path(@address), method: :post do |f| %>
          <%= render partial: 'form', locals: {f: f, address: @address} %>
          <%= f.check_box :is_default %>
          <%= f.label :is_default, 'Default' %>
          <%= f.submit "Create", class: 'border btn btn-primary form-control mt-2' %>
        <% end %>
      </div>
  </div>
</div>