<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <!-- Replace me-auto to ms-auto  -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" href="/contact">Change Language</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><%= button_to "Logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row flex-nowrap ">
    <div class="col-auto bg-dark" style="width:300px">
      <div class="d-flex flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start" id="menu">
          <li class="nav-item ">
            <a href="#" class="nav-link align-middle px-0 text-light">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home Page</span>
            </a>
            <span class="glyphicon glyphicon-triangle-bottom"></span>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"></span>Management</a>
            <ul class="collapse nav flex-column ms-1 border-light" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <%= link_to "Client List", admin_client_list_index_path, class:"nav-link  text-decoration-none", style: "display:block" %>
              </li>
              <li>
                <%= link_to "Items Management", admin_items_path, class:"nav-link text-decoration-none", style: "display:block" %>
              </li>
            </ul>
          </li>

          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"></span>System Management</a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link bg-light px-5"> <span class="d-none d-sm-inline"></span>Item</a>
              </li>
              <br>
              <li>
                <a href="#" class="nav-link bg-light px-5"> <span class="d-none d-sm-inline"></span>Item</a>
              </li>
            </ul>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
