
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">


      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <ul class="nav nav-pills nav-justified mb-3" id="session-nav" role="tablist">
          <li class="nav-item" role="presentation">
            <%= link_to "Login", new_session_path(resource_name), class: "nav-link active text-dark", style: "background-color:white" %>
          </li>
          <li class="nav-item" role="presentation">
            <%= link_to "Register", new_user_registration_path, class: "nav-link text-white", style: "background-color:blue" %>
          </li>
        </ul>
        <div class="card shadow-2-strong" style="border-radius: 1rem;">

          <div class="card-body p-5">
            <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
              <% if cookies[:promoter] %>
                <div class="form-outline mb-3">
                  <%= f.label :promoter %>
                  <%= f.email_field :parent, class: "form-control form-control-lg mb-3", autofocus: true, autocomplete: "email", value: cookies[:promoter], readonly: true %>
                  <%= content_tag :p, resource.errors.full_messages_for(:parent).join(', '), class: 'text-danger m-1' if resource.errors.has_key?(:parent) %>
                </div>
              <% end %>

              <div class="form-outline mb-3">
                <%= f.label :email, class: "form-label"  %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                <%= content_tag :p, resource.errors.full_messages_for(:email).join(', '), class: 'text-danger m-1' if resource.errors.has_key?(:email) %>
              </div>

              <div class="form-outline mb-3">
                <%= f.label :password, class: "form-label d-inline"  %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
                <%= content_tag :p, resource.errors.full_messages_for(:password).join(', '), class: 'text-danger m-1' if resource.errors.has_key?(:password) %>
              </div>

              <div class="form-outline mb-3">
                <%= f.label :password_confirmation, class: "form-label"  %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
                <%= content_tag :p, resource.errors.full_messages_for(:password_confirmation).join(', '), class: 'text-danger m-1' if resource.errors.has_key?(:password_confirmation) %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>